<header class="header d-flex">
  <h2 class="ff-inter">Resultado</h2>

</header>
<div class="table-responsive">
  <table class="table align-middle;table table-striped"  style="width:100%">
  <thead>
    <tr>
    
      <th>Código</th>
      <th>Conta</th>
    
      
      <th>Saldo</th>
     

    </tr>
  </thead>
  <tbody class="table-group-divider;pagination">

    <tr *ngFor= "let conta of resultados$|async" class="align-center" >
   
      <td>{{conta.cod}}</td>
      <td>{{conta.conta}}</td>
     
      
            
      <td align="center">{{conta.saldo|currency}}</td>
      






    </tr>


  </tbody>
</table>
