

<script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
<div class="table-responsive">
  <table  class = "sortable" class="table align-middle;table table-striped"  style="width:100%">
  <thead>
    <tr>
      <th>#</th>
      <th>Código</th>
      <th>Despesa</th>
      <th>Tipo</th>
      <th align="center">Objetivo</th>
      <th>Realizado</th>
      <th>Atingimento</th>
    </tr>
  </thead>
  <tbody class="table-group-divider;pagination">

    <tr *ngFor= "let x of fonte;let i = index  " class="align-center"  >

      <th align="center">{{i+1}}</th>
      <td>{{x.cod}}</td>
      <td>{{x.conta}}</td>
      <td>{{x.mod_despesa}}</td>
      <td align="center">{{this.diasdec*x.gd|currency}}</td>
      <td>{{x.saldo|currency}}</td>
      <td>{{x.saldo/(this.diasdec*x.gd)|percent: '2.2-2'}}</td>

    </tr>


  </tbody>
</table>


</div>

