

<div class="table-responsive">
  <table class="table align-middle;table table-striped"  style="width:100%">
  <thead>
    <tr>

      <th>Data da Compra</th>
      <th>Descrição</th>
      <th>Cartão Vinculado</th>
      <th>Origem</th>
      <th>Qtde Parcelas</th>
      <th>Valor Parcelas</th>
      <th>Parcelas Restantes</th> 
      <th>Ultima Parcela</th>   
      <th>Saldo Restante</th>  
     
    </tr>

  </thead>

  <tbody class="table-group-divider">

    <tr *ngFor= "let conta of parcelamento$|async" class="align-center" >

      <td>{{conta.datadacompra| date:'dd/MM/yyyy'}}</td>
      <td>{{conta.descricao}}</td>
      <td>{{conta.cartaovinculado.nome}}</td>
      <td>{{conta.origem}}</td>
      <td>{{conta.qtdedeparcelas}}</td>
      <td>{{conta.valorparcela|currency}}</td>
      <td>{{conta.parcelasrestantes}}</td>
      <td>{{conta.ultimaparcela.toDate() | date: 'dd/MM/yyyy'}}</td>
      <td>{{conta.saldorestante|currency}}</td>
      

    </tr>



  </tbody>
</table>

<div *ngFor= "let conta of val"> 
  <p> Ultima Posicao {{conta.posicao.toDate()|date:'dd/MM/yyyy, HH:mm'}}</p>
</div>

<div class="col-md-2">
  <button class="btn btn-block btn-info mb-2 btn-theme" (click)="refresh()"> Atualizar</button>
</div>
</div>



