<!--<mat-toolbar style="font-size: 1.5rem; height: 80px; background-color: burlywood;">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span style="padding:10px ;" >Resultado das Contas</span>
  <span class="example-spacer"></span>


</mat-toolbar>-->





<nav class="navbar navbar-expand-lg bg-light navbar-dark bg-dark" style="padding-bottom: 5mm;border-bottom:1px">
  <div class="container-fluid">
    <a class="navbar-brand" href="agregados">Resultado das Contas</a>







    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="agregados">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="" data-bs-toggle="dropdown" aria-expanded="false">Contas</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="contas">Todas</a></li>
            <li><a class="dropdown-item" href="ativo">Ativo</a></li>
            <li><a class="dropdown-item" href="passivo">Passivo</a></li>
            <li><a class="dropdown-item" href="despesas">Despesas</a></li>
            <li><a class="dropdown-item" href="receitas">Receitas</a></li>
            <li><a class="dropdown-item" href="resultado">Resultado</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="lctos">Lançamentos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="parcelado">ParcelamentosCartão</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="cdc">CDC/Financiamentos</a>
        </li>

      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2 p-2 mb-2" type="search" placeholder="Ache Aqui" aria-label="Search">
        <button class="btn btn-outline-success p-2 mb-2 bg-dark text-white" type="submit" >Pesquisar</button>
      </form>
    </div>
  </div>
</nav>
