<header class="header d-flex">
  <h2 class="ff-inter">Receitas</h2>

</header>
<div class="table-responsive">
  <table class="table align-center;table table-striped"  style="width:100%">
  <thead>
    <tr>

      <th>Código</th>
      <th>Conta</th>
      <th>Saldo</th>
      <th>Posicao</th>

    </tr>
  </thead>
  <tbody class="table-group-divider;pagination">

    <tr *ngFor= "let conta of receitas$|async" class="align-center" >

      <td>{{conta.cod}}</td>
      <td>{{conta.conta}}</td>
      <td align="center">{{conta.saldo|currency}}</td>
      <td align="center">{{conta.log.toDate()|date:'dd/MM/yyyy, HH:mm'}}</td>



    </tr>


  </tbody>
</table>

<div>
  <p> RECEITA TOTAL  {{sum|currency}}</p>

  </div>



