<header class="header d-flex">
  <h2 class="ff-inter">Meus Lancamentos</h2>
</header>

<!--<div class="table-responsive">
  <table class="table align-middle;table table-striped"  style="width:100%">
  <thead>
    <tr>
      <th>#</th>
      <th>Numero Lcto</th>
      <th>Data</th>
      <th>Lançamento</th>
      <th>Conta</th>
      <th>Valor</th>
      <th>Gravado em</th>

    </tr>
  </thead>
  <tbody class="table-group-divider;pagination">

    <tr *ngFor= "let lancamento of lancamentos" class="align-center" >

      <td>{{lancamento.id}}</td>
      <td>{{lancamento.nro_lcto}}</td>
      <td align="center">{{lancamento.data}}</td>
      <td>{{lancamento.lcto}}</td>
      <td>{{lancamento.conta}}</td>
      <td align="center">{{lancamento.valor|currency}}</td>

      <td>{{lancamento.createdAt|date}}</td>






    </tr>


  </tbody>
</table>


</div>-->


