





<header class="header d-flex">
  <h5 class="ff-inter">Meus Lancamentos</h5>
</header>

<div class="table-responsive">
  <table class="table align-middle;table table-striped"  style="width:100%">
  <thead>
    <tr>
      <th>#</th>

      <th>Data</th>
      <th>Lançamento</th>
      <th>Conta Debitada</th>
      <th>Conta Creditada</th>
      <th>Valor</th>
      <th>Gravado em</th>

    </tr>
  </thead>
  <tbody class="table-group-divider;pagination">

    <tr *ngFor= "let lcto of lancamento$|async;let i = index " class="align-center" >
      <th align="center">{{i+1}}</th>

      <td>{{lcto.datadolancamento | date:'dd/MM/yyyy'}}</td>
      <td >{{lcto.descricao}}</td>
      <td>{{lcto.conta_debitada}}</td>
      <td>{{lcto.conta_creditada}}</td>
      <td align="center">{{lcto.valor|currency}}</td>
      <td>{{lcto.log.seconds * 1000|date:'dd/MM/yyyy HH:mm'}}</td>






    </tr>


  </tbody>
</table>


</div>


